{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>



<!-- access parts of the question using object.___ -->


<div class="row">
    {{object.q}}
</div>


<!-- where media is held -->
<div class="row">
    {{object.media}}
</div>


<form method="post" action="">
    {% for idx, answer in enumerate(object.a) %}
    <button type="submit" name="answer" value="{{ answer }}">{{ answer }}</button>
    {% endfor %}
</form>


{% endblock %}