{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>

<script>
    var question_data = {{ question_data | tojson | safe }};
    
</script>


<!-- access parts of the question using object.___ -->

<div class = "quiz-title">
    Question {{quiz_id}}
</div>

<div class="row">
    {{question_data.q}}
</div>


<!-- where media is held -->
<div class="row">
    {% if media_template %}
        {% include media_template %}
    
    {% endif %}
</div>


<form class = "row" method="post" action="">
    {% for idx, answer in enumerate(question_data.a) %}
    <button type="submit" name="answer" value="{{ answer }}" id="{{ idx }}" class="quiz-question">{{ answer }}</button>
    {% endfor %}
</form>



{% endblock %}